* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.footer {
  text-align: center;
  box-shadow: 2 3 4 gray;
  padding: 10px;
  font-weight: bold;
}
.header {
  text-align: center;
  padding: 12px 24px;
  font-weight: bold;
}
